<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winnerpredictor.oddipredictions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherbt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherbt_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.winnerpredictor.oddipredictions.PrivacyPolicy"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5098605576681686~6285920649" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service android:name="com.winnerpredictor.oddipredictions.FireMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.winnerpredictor.oddipredictions.FeedBack" />
        <activity android:name="com.winnerpredictor.oddipredictions.PostDetails"/>
        <activity
            android:name="com.winnerpredictor.oddipredictions.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>